<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Input device test manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>

<body>
<span th:text="#{homepage.hello}"/> <br/>
<span th:text="#{homepage.thymeleaf}"/> <br/>
<div sec:authorize="hasRole('secret-message')">
    <span th:text="#{homepage.secret-message}"/>
</div>


<table>
    <tr>
        <th>NAME</th>
        <th>ROLE</th>
        <th>PERMISSION</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.firstName} + ' ' + ${user.lastName}"/>
        <td>
            <table>
                <tr th:each="role : ${user.roles}">
                    <td th:text="${role.name}"/>
                </tr>
            </table>
        </td>
        <td>
            <div th:each="role : ${user.roles}">
                <table>
                    <tr th:each="perm : ${role.permissions}">
                        <td th:text="${perm.name}"/>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</body>



</html>
